<br>
<br>
<br>
<br>
<h2><%=@servicio.nombre%></h2>
<hr>
<span class="text-muted"><small>Ultima actualización: <%=@servicio.updated_at.strftime("%d-%b-%Y")%></small></span>
<br>
<br>
<%=@servicio.descripcion%>........
<br>
<br>
<table class="table table-striped">
	<tr>
		<th>Descripción</th>
		<th>Verbo</th>
		<th>Url</th>
		<th>Formatos</th>
	</tr>
	<%@servicio.detalles.order(:id).each do |detalle| %>
		<tr>
			<td><%=detalle.descripcion.html_safe%></td>
			<td><span class="label label-info"><%=detalle.verbo%></span></td>
			<td><span class="url">http://<%=request.host_with_port%>/api/<b><%=detalle.url%></b>.json</span></td>
			<td>
				<div class="btn-group cambio">
				  <a href="http://<%=request.host_with_port%>/api/<%=detalle.url%>.json" target="_blank" class="btn btn-xs btn-info <%=show_button(detalle, 'json')%>">json</a>
				  <a href="http://<%=request.host_with_port%>/api/<%=detalle.url%>.xml" target="_blank" class="btn btn-xs btn-warning <%=show_button(detalle, 'xml')%>">xml</a>
				  <a href="http://<%=request.host_with_port%>/api/<%=detalle.url%>.csv" target="_blank" class="btn btn-xs btn-default <%=show_button(detalle, 'csv')%>">csv</a>
				  <a href="http://<%=request.host_with_port%>/api/<%=detalle.url%>.xls" target="_blank" class="btn btn-xs btn-success <%=show_button(detalle, 'xls')%>">xls</a>
				</div>
			</td>
		</tr>
	<%end%>
</table>